<% page_title "Admin" %>

<div><% @users.each do |user| %>
  <div><%= user.uid %> <%= user.email %>
    <%= form_tag "/admin/users/#{user.uid}/sync_enabled", :method => (user.sync_enabled? ? :delete : :put) do %>
      <input type="submit" value="<%= user.sync_enabled? ? "disable" : "enable" %>">
    <% end %>
    <%= form_tag "/admin/scan" do %>
      <input type="hidden" name="uid" value="<%= user.uid %>">
      <input type="checkbox" name="background">
      <input type="submit" value="scan">
    <% end %>
    <%= form_tag "/admin/urls" do %>
      <input type="hidden" name="uid" value="<%= user.uid %>">
      <input type="checkbox" name="background">
      <input type="submit" value="update urls">
    <% end %>
  </div>
<% end %></div>

<div><% @files.each do |file| %>
  <div><%= debug file %></div>
<% end %></div>
