<% page_title "Admin" %>

<div><% @users.each do |user| %>
  <div>Sync is <%= user.sync_enabled? ? "enabled" : "disabled" %> for <%= user.email %>'s files.
    <%= form_tag "/admin/users/#{user.uid}/sync_enabled", :method => (user.sync_enabled? ? :delete : :put) do %>
      <input type="submit" value="<%= user.sync_enabled? ? "disable" : "enable" %>">
    <% end %>
    <br>
    <%= form_tag "/admin/scan" do %>
      <input type="hidden" name="uid" value="<%= user.uid %>">
      <input type="checkbox" name="background"> <label for="background">run as background job</label><br>
      <input type="submit" value="scan for bulletins">
    <% end %>
    <br>
    <%= form_tag "/admin/urls" do %>
      <input type="hidden" name="uid" value="<%= user.uid %>">
      <input type="checkbox" name="background"> <label for="background">run as background job</label><br>
      <input type="submit" value="freshen urls for bulletins">
    <% end %>
  </div>
  <hr>
<% end %></div>

<h3>Known files</h3>
<div><% @files.each do |file| %>
  <div><%= debug file %></div>
<% end %></div>
